# Cache de imágenes (1 año)
<FilesMatch "\.(jpg|jpeg|png|gif|webp|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Cache de CSS y JS (1 mes)
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Cache de fuentes (1 año)
<FilesMatch "\.(woff|woff2|ttf|otf|eot)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>